* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px*/
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem; /* All body has 16px */
  /*
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; */


  /* background: 1) image 2) url() 3) repeat 4) position/size*/
  /* Atalho = shorthands = propriedades abreviadas.*/
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

#container {
  width: 36rem;
  border: 0.1rem solid red;
  margin: auto;
}

#profile {
  text-align: center;
}

#profile img{
  width: 11.2rem;
}